{$menu}
<div class="ow_automargin ow_superwide">

    {form name='adminForm'}
    <table class="ow_table_1 ow_form">
      
        <tr> 
            <td class="ow_label">{label name="photofeature_per_page"}</td>
            <td class="ow_value">{input name="photofeature_per_page"} {error name='photofeature_per_page'}</td>
            <td class="ow_desc ow_small">{desc name="photofeature_per_page"} </td>
        </tr>

    </table>
	<div class="clearfix ow_stdmargin"><div class="ow_right">{submit name='saveSettings' class='ow_ic_save ow_positive'}</div></div>
    {/form}

</div>
